<h1>Login In </h1>
<%= form_for(:session, url: login_path) do |f|%>

<div>
<%= f.label :username%><br>
</div>
  
<div>
<%= f.text_field :username%><br>
</div>

 <div>
   <%= f.submit "Login" %>
 </div>

<%end%>
